@import "tailwindcss";

:root {
  --background: #51585c;
  --foreground: #51585c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #4b508f;
  --color-secondary: #dbaf53;
    --color-secondary-dark: #bd9848;
  --color-primary-light: #53b2db;
  --color-light-brown: #5c5851;
  --color-light-blue: #51525c;
  --color-light-gray: #51585c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #51525c;
    --foreground: #51525c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
